################################################
# Blockchain Commons Spotbit Install Config file
################################################

# To install spotbit set the following environment variables
# accordingly by uncommenting and/or setting appropriate values.

###########################
# system
###########################
# Prompt user befor continuing with the installation. Gives the user
# a chance to check the configuration before installing. Set it to
# true to remove the prompt
NOPROMPT=false
# Set password for user "standup". Good practice to use at least 8
# character long password.
# Don't ignore this.
USERPASSWORD=
# If you already have python3.10, then set the following to "false"
INSTALL_PYTHON310=true


###########################
# vps
###########################
# If you are using a VPS, set it to true and set the HOSTNAME, FQDN &
# REGION variables.
VPS=false
# the name for your server
HOSTNAME=
# the domain name(website) where you will host/access the server.
# if you are going to access it locally then you can just use your hostname and add .local like so: hostname.local
FQDN=
# the region in which the server is hosted. Required for timezone settings
REGION=


###########################
# Tor & SSH
###########################
# set a Tor public key if you have one.
TOR_PUBKEY=
# set an SSH key if you have one.
SSH_KEY=
# set a comma seperated set of white listed IPs that can SSH into the server.
SYS_SSH_IP=
