[Unit]
Description=spotbit
Requires=tor.service
After=tor.service

[Service]
User=spotbit
WorkingDirectory=/home/spotbit/spotbit
ExecStart=/home/spotbit/spotbit/env/bin/python3 app.py
Group=root
Type=simple

[Install]
WantedBy=multi-user.target
