#### Spotbit Configuration File ####
[server]

# exchanges: Exchanges to use for data collection. If this is not set, then Spotbit will use all supported exchanges. There are more than 100 exchanges supported.
exchanges       = ["liquid", "phemex", "bitstamp", "ftx", "binance"]

# currencies: Currencies to collect data for in the Spotbit database. If a currency is supported by an exchange, then data can be collected for it. Currencies should be lowercase three letter currency codes, eg usd gpy cny jpy eur. If no currencies are listed then Spotbit will collect for usd only. 
currencies      = ["usd", "gbp", "jpy", "usdt", "eur", "0xcafebabe"]

# averaging_time: the amount of hours to consider "current" when calculating an average of all exchange prices in the /now API route
averaging_time  = 1
