#### Spotbit Configuration File ####
# There are currently 8 allowed fields in this file: 
# - keepWeeks: The number of allowed rows in the database (default 100,000 rows) 
# - exchanges: Exchanges to collect data for. If there is no option here, then Spotbit will use a demo subset of exchanges in memory. There are more than 100 exchanges supported, but Spotbit will not gather information for all these by default. Exchanges should be separated by spaces. 
# - currencies: Currencies to collect data for. If a currency is supported by an exchange, then data can be collected for it. Currencies should be lowercase three letter currency codes, eg usd gpy cny jpy eur. If no currencies are listed then Spotbit will collect for usd only. 
# - interval: the amount of time in seconds to wait between http GET requests. Should be at least 2 or 3 seconds to avoid ratelimits, especially when not many exchanges are being queried.
# - exchange_limit: the cutoff point when performance mode is turned on. Under this number of exchange in the exchanges field, they will all run queries inside of one thread. Above the limit, spotbit will split them into evenly sized groups based on the number of cpu cores available to decrease lag time.
# - averaging_time: the amount of hours to consider "current" when calculating an average of all exchange prices in the /now API route
# - historicalExchanges: exchanges that you want historical, and not just current, data for.
# - historyEnd: the earliest point to start collecting historical data from. Must be a millisecond timestamp
# Lines with '#' are ignored by Spotbit. 
# Lines that do not represent a valid configuration option will be ignored. 

keepWeeks=50
exchanges=gemini bitstamp okcoin coinsbit coinbasepro coinsbank kraken cexio bitfinex indoex bitflyer liquid coincheck bitbank zaif hitbtc binance okex gateio bitmax
currencies=usd gbp jpy usdt eur
interval=5
exchange_limit=24
averaging_time=1
