{% extends "base.html" %}

{% block title %} Spotbit|About{% endblock %}

{% block content %}
    <main class="crypto-main">
      <div class="crypto-main__content mdc-theme--text-primary-on-background">
        <div class="mdc-layout-grid mdc-layout-grid--demo">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-1-desktop"></div>
            <div
              class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <div class="crypto-widget crypto-widget--margin-bottom">
                <h2
                  class="crypto-widget__heading crypto-widget__heading--fullwidth mdc-typography--headline6 mdc-theme--primary">
                  <span class="crypto-widget__heading-text">ABOUT</span>
                  <span class="crypto-widget__heading-border"></span>
                </h2>
                <div class="crypto-widget__content">
                  <p class="mdc-typography--body1">
                  <div class="crypto-widget__content">
                    <div class="crypto-wallet-overview">
                      <div>Spotbit is a portable FastAPI for Bitcoin price data and candles. It can either be used as a
                        repository of historical data that allows for more frequent API requests, or as a simple wrapper
                        around exchange APIs that premits the user to collect information over Tor. It can aggregate
                        data from over 100 exchanges and serve them from a single URL or using Tor as an onion hidden
                        service. It's extremely flexible: the user can decide which base currencies to use (USDT, USD,
                        EUR etc), which exchanges to keep data for, and how much data to keep
                        <div>Learn more on how you can setup your own Spotbit on<a
                            href="https://github.com/BlockchainCommons/spotbit"> github</a>.
                        </div>

                      </div>

                    </div>
                  </div>
                  </p>

                </div>
                <div class="crypto-widget__content">
                  <p class="mdc-typography--body1">
                  <div class="crypto-widget__content">
                    <div class="crypto-wallet-overview">
                      <div>Spotbit can be used by anyone who wants to take advantage of its privacy, speed, reliability,
                        and self-sovereignty advantages. It works particularly well with the <a
                          href="https://github.com/BlockchainCommons/Gordian">Gordian system</a>, which supports Tor
                        connections between a <a href="https://github.com/BlockchainCommons/GordianWallet-iOS">Gordian Wallet</a>
                        and a <a href="https://github.com/BlockchainCommons/GordianServer-macOS"></a>Gordian Server or other server
                        installed by <a href="https://github.com/BlockchainCommons/Bitcoin-Standup-Scripts">Bitcoin Standup
                          scripts</a>.
                        Spotbit is an example of a microservices meant to display how the <a
                          href="https://github.com/BlockchainCommons/Gordian#gordian-principles">Gordian Principles</a>, which are
                        philosophical and technical underpinnings to Blockchain Commons' Gordian technology, are
                        supported by the Gordian Architecture.

                        <div>Contribute to Spotbit on <a href="https://github.com/BlockchainCommons/spotbit/blob/master/CONTRIBUTING.md">Github</a>
                          or by <a href="https://github.com/sponsors/BlockchainCommons">sponsoring</a> Blockchain
                          Commons on Github as well.

                        </div>
                      </div>
                      </p>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  {% endblock %}

  {% block scripts %}
    {{ super() }}
  <!-- page specific JS -->
  <script src="{{ url_for('static', path='/assets/js/pages/determinates.js') }}"></script>
    {% endblock %}