{% extends "base.html" %}

{% block title %} Spotbit|Faq{% endblock %}

{% block content %}
    <main class="crypto-main">
      <div class="crypto-main__content mdc-theme--text-primary-on-background">
        <div class="mdc-layout-grid mdc-layout-grid--demo">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-1-desktop"></div>
            <div
              class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <div class="crypto-widget crypto-widget--margin-bottom">
                <h2
                  class="crypto-widget__heading crypto-widget__heading--fullwidth mdc-typography--headline6 mdc-theme--primary">
                  <span class="crypto-widget__heading-text">FAQ</span>
                  <span class="crypto-widget__heading-border"></span>
                </h2>
                <div class="crypto-widget__content">
                  <p class="mdc-typography--body1">Frequently Asked Questions</p>
                  <ul class="crypto-list mdc-typography--body1">
                    <li><strong>Where are the available onion addresses for SpotBit?</strong>
                      h6zwwkcivy2hjys6xpinlnz2f74dsmvltzsd4xb42vinhlcaoe7fdeqd.onion </li>
                    <li><strong>How are fiat currency values averaged?</strong> For each of the listed fiat currencies,
                      there is a list of five exchanges that will be used to average data for the `/now/CURRENCY`
                      endpoint. They have been selected based on volume rankings and coinmarketcap's confidence rating.
                      In order to stick with exchanges supported by `ccxt`, some candidates were excluded (such as
                      btse). These exchanges should all be listed in the `exchanges` field of the `spotbit.config` in
                      order to ensure SpotBit runs as smoothly as possible. The default config will include these values
                      for you.</li>
                    <li><strong>How does the SpotBit web page work?</strong> The web page loads JSON data exposed by
                      Spotbit every 15 seconds. It uses AJAX calls to load data and the Charts API to draw the chart.
                    </li>
                    <li><strong>Can SpotBit be used with WebSockets?</strong> The web page can be used with WebSockets
                      when Spotbit returns data using that option.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </main>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- page specific JS -->
<script src="{{ url_for('static', path='/assets/js/pages/determinates.js') }}"></script>
{% endblock %}