<!DOCTYPE html>
<h1>This Onion v3 Address is Running Spotbit</h1>
<h2>What is Spotbit?</h2>
<p>Spotbit is a decentralized alternative to services such as coinmarketcap and coingecko. Spotbit aggregates data for dozens of exchanges and provides their data over a single tor API endpoint.</p>
<h2>How do I use Spotbit?</h2>
<p>Spotbit is an API service running on this server. To access it, you can use the API endpoints it provides: /configure will give you information on how this server is configured. /now/[currency]/[exchange] will give you the current information about a certain currency. And /hist/[currency]/[exchange]/[start_date]/[end_date] gives historical data.</currency></p>
<p>You can find out more about how to use Spotbit <a href="https://github.com/BlockchainCommons/spotbit">here</a></p>
</html>